@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .footertext {
        font-size: small;
    }
</style>

<div class="jumbotron">
    <div class="container well">
        <h2><center>新北市圖書館後台</center></h2>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <br>
                <div class="col-md-4">
                    <center>
                        <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                        <br>
                        <h4 class="footertext">歷史</h4>
                        <p class="footertext">西元1923年11月設立海山郡圖書館（後改為板橋圖書館），這是臺北縣立圖書館的前身。<br>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                        <br>
                        <h4 class="footertext">轉型</h4>
                        <p class="footertext">為配合政府推動十二項重大建設及教育部「建立縣市文化中心計畫」遂於民國六十八年成立「臺北縣立文化中心籌備處」，積極選定地點，並由高而潘建築師規劃設計。<br>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                        <br>
                        <h4 class="footertext">蛻變</h4>
                        <p class="footertext">臺北縣圖書資訊服務邁向新紀元，並將以『專業、人性、豐富』作為服務所有讀者之新願景而努力。<br>
                    </center>
                </div>
            </div>
            <div class="row">
                <p><center><a href="#">Contact Us</a> <p class="footertext">Copyright 2014</p></center></p>
            </div>
        </div>
    </div>
</div>
